body{
  margin:0;
  background:black;
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
  font-family: monospace;
}

#matrix{
  position:fixed;
  inset:0;
  z-index:-1;
}

.terminal{
  width:90vw;
  max-width:900px;
  height:80vh;
  background:rgba(0,0,0,0.85);
  border:2px solid #00ff41;
  border-radius:10px;
  box-shadow:0 0 25px #00ff41;
  padding:15px;
  display:flex;
  flex-direction:column;
  color:#00ff41;
  z-index:10;
}

.header{
  display:flex;
  gap:10px;
  align-items:center;
}
.dot{width:12px;height:12px;border-radius:50%}
.red{background:#f33}
.yellow{background:#ff3}
.green{background:#3f3}

.lines{
  flex:1;
  background:black;
  padding:10px;
  overflow:auto;
  border:1px solid #00ff41;
}

.final{
  text-align:center;
  margin-top:10px;
}
.hidden{display:none}

.big{
  font-size:32px;
  color:#00ff9d;
  text-shadow:0 0 15px #00ff9d;
}
